Color Palette */
.colors {
  background: #e94e77 #d68189 #c6e5d9 #f4ead5 #003049;
}

body {
  background: #003049;
  align-items: center;
}

/* Countdown timer 
.timer {
  width: 20rem;
  height: 20rem;
  background: #9de0ad;
  border: 15px solid #e5fcc2;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1% auto;

}*/

/*source: w3school window curtain*/

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background: #e5fcc2;
}

.overlay-content {
  position: relative;
  top: 10%;
}

.overlay .closebtn {
  position: absolute;
  top: 5%;
  right: 10%;
  font-size: x-large;
  font-weight: bold;
}

#openbtn {
  margin-bottom: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  border-radius: 0;
}

.btn-delete {
  display: block;
  width: 100%;
}

.btn-delete:hover {
  background: #c6e5d9;
  border-radius: 0;
}

#openLogin {
  font-size: 30px;
  cursor: pointer;
}

#todocontainer {
  overflow: auto;
  max-height: 25em;
  height: 15em;
}

#parentTodo {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: auto;
}

#parentTodo #addTodo {
  text-align: center;
  align-items: right;
  padding: 2%;
}

.form-group {
  font-weight: bold;
  align-items: right;
}

input {
  margin: 1% auto;
}

.list-group {
  text-align: left;
  list-style: none;
  align-items: right;
  height: fit-content;
  max-height: 20em;
}

.todotext {
  display: block;
  min-height: 28px;
  padding: 8px;
  text-decoration: none;
  color: #003049;
}

.todotext:hover {
  background: #c6e5d9;
  text-decoration: none;
  cursor: pointer;
}

/*dropdown menu w3schools*/
/* Dropdown Button */
.dropbtn {
  color: white;
  font-size: large;
  border: none;
  width: 100%;
  margin-top: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 60%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Start/Stop button */
#playbtn{
  margin-bottom: 5em;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #003049;
}

#pomodorocontent {
  min-height: 10em;
}

.card {
  margin-top: 1px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .todo-item {
    text-align: center;
  }
}

#message small {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
}

/*register center*/

#logincard {
  margin-top: 10%;
  width: 60%;
}


/* CSS for progressbar: */
#timerbody {
  font-family: sans-serif;
  display: grid;
  /* height: 100vh; */
  place-items: center;
  margin: 8% 0 2%;
}

#timer {
  min-width: 200px;
  width: 35%;
  max-width: 33em;
}

/* Begin of progressbar */
.base-timer {
  position: relative;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
  stroke: #e94e77;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: #c6e5d9;
}


.base-timer__label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #fff;
}
/* End of progressbar */