/* primary color: #A4161A darkred
secondary color: #E5383B red
background: #F4EAD5 grey
other grey: #B1A7A6
font: #ffffff

New Color Palette */
.colors {
  background: #e94e77 #d68189 #c6e5d9 #f4ead5;
}

body {
  background: #547980;
  overflow: hidden;
  align-items: center;
}

/* Countdown timer */
.timer {
  width: 20rem;
  height: 20rem;
  background: #9de0ad;
  border: 15px solid #e5fcc2;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1% auto;

  /*box-shadow: 4px 4px 4px #000000;*/
}

/*source: w3school window curtain*/

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background: #e5fcc2;
}

.overlay-content {
  position: relative;
  top: 10%;
}

.overlay .closebtn {
  position: absolute;
  top: 5%;
  right: 10%;
  font-size: x-large;
  font-weight: bold;
}

#openbtn {
  margin-bottom: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  border-radius: 0;
}

#openLogin {
  font-size: 30px;
  cursor: pointer;
}

/*selbst */
#todocontainer {
  overflow: auto;
  max-height: 25em;
  height: 15em;
}

#parentTodo {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: auto;
}

#parentTodo #addTodo {
  text-align: center;
  align-items: right;
  padding: 2%;
}

/* .btn {
  font-weight: bold;
  width: 5em;
  margin: 2%;
} */

.form-group {
  font-weight: bold;
  align-items: right;
}

input {
  margin: 1% auto;
}

.list-group {
  text-align: left;
  list-style: none;
  align-items: right;
  height: fit-content;
  max-height: 20em;
}

.todoEntry:hover {
  border: solid;
}

/*.todo-item {
   text-align: left;
  list-style: none;
  align-items: right;
  height: fit-content;
  box-shadow: 2px 2px 4px #000000;
  padding: 2%;
  margin-bottom: 1%;
  margin-right: 2%;
  font-weight: bold; 
}*/

/*dropdown menu w3schools*/
/* Dropdown Button */
.dropbtn {
  color: white;
  font-size: large;
  border: none;
  width: 100%;
  margin-top: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 60%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #e5383b;
}

#pomodorocontent {
  align-content: flex-start;
  overflow: auto;
  /*max-height: 30em;*/
  height: 25em;
  margin-top: 3%;
}

/* .card {
  margin: auto;
  text-align: left;
  height: fit-content;
  width: 40%;
  box-shadow: 2px 2px 4px #000000;
  padding: 2%;
  margin: auto;
  margin-top: 10%;
  font-weight: bold;
} */

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  /* .btn {
    width: 100%;
    margin: 1%;
  } */

  .todo-item {
    text-align: center;
  }
}

#message small {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
}
